*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Roboto;
}

body {
    background-color: #212956;
    background-repeat: no-repeat;
    background-size: cover;
}

#principal {
    width: 810px;
    height: 860px;
    margin: 10px auto;
    position: relative;
    background: url('../images/background.jpg');
    -webkit-box-shadow: 0px 0px 30px 0px rgba(181, 229, 233, 0.75);
    -moz-box-shadow: 0px 0px 30px 0px rgba(181, 229, 233, 0.75);
    box-shadow: 0px 0px 30px 0px rgba(181, 229, 233, 0.75);
}

.casa {
    height: 130px;
}

#principal section {
    position: absolute;
    top: 320px;
    background: transparent;
    width: 739px;
    height: 511px;
}

#principal #vassoura {
    width: 208px;
    height: 37px;
    background-image: url("../images/vassoura.png");
    top: 470px;
    left: 30px;
    position: absolute;
}

#vassoura a {
    color: #fff;
    text-decoration: none;
}

#principal #footer {
    top: 500px;
    left: 35px;
    position: absolute;
}

#principal #vassoura:hover {
    cursor: pointer;
}

#principal section #scroll {
    height: 450px;
    width: 810px;
    padding: 30px;
    position: absolute;
    overflow-x: hidden;
    overflow-y: scroll;
}

#principal section #scroll span {
    font-size: 14px;
}

#principal header {
    height: 312px;
    width: 810px;
    float: left;
    background: url('../images/header/background.jpg');
}